/node_modules
/public/hot
/public/storage
/storage/*.key
/public/css
/public/js
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/runtimes/8.0/conf/cron
/runtimes/8.0/conf/*.ini
/runtimes/8.0/conf/*.conf
/runtimes/8.0/conf/nginx/*.conf

